extends ../layout.pug
 
block content
    h1.
        Пользователи
    p Всего 
      span=totalUsers 
    p Страница #{page} из #{totalPages}
    p 
      a(href='/?page=' + prevPage) Назад
      span 
      a(href='/?page=' + nextPage) Вперед 
    table

        thead
          tr 
            th id
            th email
            th соц сеть 
            th дата создания 
        tbody
    
          each user, i in users
            tr
                td=user._id
                td=user.email
                td=user.registar
                td=user.created

  
